body {
	background: ;
}

table {
	margin: 50px auto;
}

caption {
	font-size: 1.5em;
	margin-bottom: 50px;
}
thead th{
	padding: 20px;
	margin: 20px;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border: 1px solid black;
	background-color: gray;
}

.semana {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	background-color: darkgray;
}

tbody td {
	border: 1px solid black;
	padding: 10px;
	font-size: 1em;
	background: lightgray;
}

.espaco {
	border: none;
	padding: 20px;
	background: none;
}

